/* Navbar */
#navbar,
.navlinks{
  display: flex;
  align-items: center;
  height: 64px;
}

#logo{
  height: 2.5em;
  margin-left: 24px;
}
.logo{
  height: 2.5em;
}

.colmar{
  font-size: 1.75em;
  color: #A69026;
}

.academy{
  font-size: 1.75em;
  color: #8C8C8C;
}

.navlinks,
ul{
  margin-left: auto;
  column-gap: 16px;
  margin-right: 24px;
}


/* Hero Section */

/* Assigning 55% width to the three img/vid */
.heropic,
.contpic,
.thesisvid{
  width: 55%;
}

/* "#title_small" only visible on smalle screen sizes */
#hero{
  display: flex;
  background-color: rgb(140, 140, 140, .9);
}

.heropic{
  margin: 32px 0 32px 24px;
}

.herotext{
  display: block;
  text-align: start;
  line-height: 2.5em;
  align-self: center;
  margin: 32px;
}

#start-here_btn{
  background-color: #D9BB25;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 8px;
  width: 100%;
  border-radius: 3px;
}
#start-here_btn:hover{
  cursor: pointer;
}

h1 {
  color: #D9BB25;
}

/* Content */
#content{
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: rgb(218, 188, 37, .9);
}

/* Content section text formatting */
.practicing{
  width: 60%;
  margin-left: 24px;
  width: 100%;
}
.practicing > h2{
  margin-bottom: 24px;
}
.practicing > p{
  margin-bottom: 32px;
  line-height: 1.25em;
}
.emanuel{
  font-size: .8em;
}

.contpic{
  margin: 32px 24px;
  grid-column-start: 1;
  width: 100%;
}

/* Content Side */

/* Side takes effect on the Thesis secion side boxes as well */
.side{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
}

.square{
  display: flex;
  transition: ease-in 500ms;
  margin: 0 .35em .25em 2em;
}

.square:hover{
  background-color: #a6912685;
}

.square > img{
  width: 18vw;
  height: 18vh;
  height: auto;
  margin: 12px;
  padding: 12px;
}

.sidetxt{
  align-self: center;
  width: 60%;
  overflow: hidden;

}

.sidetxt > p{
  font-size: 0.875em;
  padding: 0.5em;
}

.sidetxt > a{
  color: #0f5fb0;
}

/* Courses */

#courses{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 32px;
  background-color: rgb(140, 140, 140, .9);
  padding: 0 72px 32px;
}

.start{
  margin-top: 32px;
  text-align: center;
  grid-column: 1/4;
}

.cards{
  background-color: whitesmoke;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2rem 2rem -1rem rgba(3, 1, 64, .5);
  transition: transform 350ms;
}

.cards:hover{
  transform: scale(1.05);
}

.cards > img{
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.description{
  margin-bottom: 24px;
  margin: 0 16px 24px 16px;
  line-height: 1.5em;
}
.description > p{
  font-size: 0.7500em;
  padding: 8px 0;
}
.description > p > a{
  color: #0f5fb0;
  font-weight: bold;
  text-shadow: .5px 1.5px 2px #0f5fb045;
}

/* Thesis */
#thesis {
  display: grid;
  grid-template-columns: 55% 45%;
  margin-bottom: 32px;
}
#thesis > h2{
  margin: 32px 0;
  text-align: center;
  grid-column: 1/3;
}

div > video{
  width: 100%;
  margin: 0 24px 24px 24px;
}

.urban{
  width: 60%;
  margin-left: 24px;
  width: 100%;
}

.urban > h3{
  margin-bottom: 8px;
}

.urban > p{
  margin-bottom: 32px;
  line-height: 1.25em;
} 

/* Thesis Side */
.side.b{
  grid-template-rows: 1fr 1fr;
}
 
/* Footer */
footer{
  height: 100px;
  background-color: #D9BB25;
}

.copyright{
  display: flex;
  padding: 16px 24px;
}
/* Moves "Terms & Privacy" on the right */
.rights{
  margin-right: auto;
}

/* Mid Breaking Point */
@media only screen and (min-width: 850px) {
  #title_small {
    display: none;
  }

  .alt_img{
    display: none;
  }
}

@media only screen and (max-width: 850px) {

  /* Hero Section */
  #hero{
    display: flex;
    flex-direction: column;
  }

  .heropic{
    width: auto;
    margin: 24px;
  }

  #title {
    display: none;
  }

  #title_small {
    text-align: center;
    margin-top: 32px;
  }

  .colmar{
    color: #D9BB25;
    font-weight: 500;
  }

  .academy{
    color: whitesmoke;
  }

  /* Content Section */
  #content{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .contpic{
    margin: 24px 0;
  }

  .practicing{
    margin: auto;
    text-align: center;
    width: 90%;
    font-size: 1.25em;
  }

  .practicing > p{
    text-align: justify;
  }

  .emanuel{
    font-size: 0.750em;
  }

  /* Content Side */
  .reg_img{
    display: none;
  }

  .sidetxt > p{
    font-size: 1.25em;
    padding: 0.5em;
  }

  .square:hover{
    background-color: transparent;
  }

  .square {
    display: grid;
    width: 100%;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    justify-items: center;
  }

  .sidetxt {
    text-align: center;
  }

  .square>img {
    width: auto;
    height: auto;
    padding: 0;
  }

  /* Courses */
  .start{
    text-align: center;
  }

  #courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #courses img{
    display: none;
  }

  .cards{
    width: 100%;
    height: 200px;
    padding: 16px;
    font-size: 1.5em;
  }

  /* Thesis */
  #thesis {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
  }

  .video_section video{
    margin: 24px 0;
    width: 100%;
  }

  .urban{
    margin: auto;
    text-align: center;
    width: 90%;
    font-size: 1.25em;
  
  }

  .urban p{
    text-align: justify;
  }
  
  .copyright{
    font-size: 0.875em;
  }
}

/* Mobile Version */
@media only screen and (min-width: 500px) {
  #nav_small{
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  /* Navbar */
  /* Hiding navbar to swap with "nav_small" vithout txt */
  #navbar{
    display: none;
  }

  #nav_small{
    height: 64px;
  }

  .navlinks{
    display: flex;
    margin: 0;
    padding: 0 1em;
    align-content: center;
  }

  .nav_svg{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  /* Hero Section */
  /* Adapting font sizes for mobile devices */
  #hero h1{
    font-size: 2em;
  }

  /* Courses */
  .cards{
    font-size: 1.125em;
  }

  .sidetxt > p{
    font-size: 1em;
  }

  /* Footer */
  .copyright {
    display: block;
    line-height: 1.5em;
    font-size: 0.750em;
    padding: 0.750em;
  }

  .rights {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 300px) {
  /* Navbar */
  .navlinks {
    padding: 0.5em;
  }

  /* Content */
  .square{
    margin: 12px;
  }

  /* Hiding imgs because distorting on smaller screen sizes */
  .side img{
    display: none;
  }

  .sidetxt{
    width: 100%;
  }

  /* Cards */
  #courses{
    padding: 0 16px 32px;
  }

  /* Reset Font Sizes */
  #hero h1{
    font-size: 1.75em;
  }
  #content h2{
    font-size: 1.5em;
  }

  .practext{
    font-size: 0.875em;
  }

  .emanuel{
    font-size: 0.625em;
  }

  #thesis p{
    font-size: 0.875em;
  }
}